body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.top-banner{
    height: 700px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(8px);
    padding-top: 250px;
    padding-left: 25%;
    padding-right: 25%;
}

.top-banner h1{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
    color: #ffff;
}

.top-banner p{
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
    color: #ffff;
}

.btn-donate{
    text-decoration: none;
    background-color: tomato;
    color: #ffff;
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 40%;
    font-size: 20px;
}

.donate-today{
    margin-left: 20%;
    margin-right: 20%;
}

.donate-today h1{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.donate-today p{
    color: gray;
    font-size: 20px;
    text-align: center;
}

.donate-amount{
    display: flex;
    text-align: center;
}

.donate-amount h1{
    padding: 35px;
    background-color: aliceblue;
    margin-left: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#amount-color{
    border: 2px solid tomato;
    background-color: rgb(243, 225, 222);
    color: tomato;
}