body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

.top-banner{
    height: 700px;
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    backdrop-filter: blur(8px);
    padding-top: 250px;
    padding-left: 25%;
    padding-right: 25%;
}

.top-banner h1{
    font-size: 65px;
    font-weight: 700;
    text-align: center;
    margin: 0px;
    color: #ffff;
}

.top-banner p{
    font-size: 22px;
    text-align: center;
    margin-bottom: 60px;
    margin-top: 50px;
    color: #ffff;
}

.btn-donate{
    text-decoration: none;
    background-color: tomato;
    color: #ffff;
    padding: 20px 30px;
    border-radius: 10px;
    margin-left: 40%;
    font-size: 20px;
}

.donate-today{
    margin-left: 20%;
    margin-right: 20%;
    height: auto;
    margin-top: 175px;
    margin-bottom: 175px;
}

.donate-today h1{
    font-size: 50px;
    text-align: center;
    font-weight: 700;
}

.donate-today p{
    color: gray;
    font-size: 20px;
    text-align: center;
}

.donate-amount{
    display: flex;
    text-align: center;
}

.donate-amount h1{
    padding: 35px;
    background-color: aliceblue;
    margin-left: 25px;
    border-radius: 10px;
    cursor: pointer;
}

#amount-color{
    border: 2px solid tomato;
    background-color: rgb(243, 225, 222);
    color: tomato;
}

.enter-amount input{
    border: none;
    padding: 30px;
    width: 700px;
    font-size: 25px;
    margin-left: 16%;
    text-align: center;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
}

#btn-two{
    margin-left: 41%;
}

.donate-plan{
    height: auto;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 200px;
}

.donate-plan h1{
    font-size:40px ;
    text-align: center;
}

.donate-plan p{
    font-size: 20px;
    text-align: center;
    margin-bottom: 65px;
    margin-top: 30px;
}

.donate-plan-item{
    display: flex;
}

.donate-item-list{
    background-color: bisque;
    padding: 80px 30px;
    margin-left: 50px;
    width: 35%;
    height: 350px;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 2px 1px 15px 0px gainsboro;

}

.donate-item-list p{
    text-align: left;
}

#item-two{
    background-color: azure;
}

#item-three{
    background-color: rgb(248, 243, 167);
}

.footer{
    background-color: rgb(38, 38, 38);
    height: 235px;
    padding-top: 30px;
    padding-left: 30%;
    padding-right: 30%;
}

.footer h2{
    color: tomato;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    font-family: 'Oleo Script', cursive;

}

.footer p{
    color: aliceblue;
    text-align: center;

}

#design-by{
    margin-top: 50px;
}

.email-subscription{
    height: 350px;
}

.email-subscription h2{
    font-size: 40px;
    text-align: center;
}

.email-subscription p{
    font-size: 18px;
    text-align: center;
    font-weight:bold;
    margin-bottom: 60px;
}

.subscribe-feild{
    margin-left: 37%;
}

.subscribe-feild input{
    padding: 18px;
    font-size: 20px;
    border: none;
    background-color: rgb(226, 223, 223);
    width: 300px;
    outline:none;
}

.subscribe-feild button{
    padding: 19px;
    border:none;
    background-color: tomato;
    color: aliceblue;
    font-size: 18px;
    box-shadow: 2px 1px 15px 0px gainsboro;
    margin-right: 20px;
    position: absolute;
}

.letest-priject{
    height: 700px;
    margin-left: 15%;
    margin-right: 15%;
}

.letest-priject h2{
    font-size: 40px;
    text-align: center;
}

.letest-color{
    color: tomato;
}

.letest-priject-item{
    display: flex;
}

.letest-priject-item h2{
    font-size: 25px;
    text-align: center;
}

.letest-priject-item p{
    text-align: justify;
    padding: 20px;
}

.prokect-item-list{
    margin-top: 50px;
    width: 370px;
    margin-left: 65px;
    box-shadow: 2px 1px 15px 0px gainsboro;
}

.prokect-item-list img{
    width: 100%;
}